.logoredes{
    transition-duration: 250ms;
}

.logoredes:hover {
    filter: opacity(0.7);
    transition-duration: 250ms;
}

.logorollinghome{
    transition-duration: 250ms;
}

.logorollinghome:hover{
    filter: drop-shadow(0 0 0.75rem rgb(255,193,7));   
    transition-duration: 250ms; 
}

.hovertarjetas {
    filter: grayscale(100%);
    transition-duration: 250ms;
}

.hovertarjetas:hover {
    filter: grayscale(0%);
    transition-duration: 250ms;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#body404 {    
    background-image: url(src/developer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#rolling404 {
    z-index: -1;
    transition-duration: 250ms;
}

#rolling404:hover {
    filter: drop-shadow(0 0 0.75rem rgb(224, 13, 77));
    transition-duration: 250ms;
}

#texto404 {
    z-index: 1;
}


h3 {
    color: black;
    text-align: center;
}

#proyectosfinales {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3em;
}

.proyectosfinales {
    border-bottom: red;
}

.card-title {
    font-size: 2em;
}

.card-text {
    font-size: 1em;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}